body {
    background-color: rgba(161, 211, 61, 0.699);
    height: 100vh;
    display: grid;
    grid-template-rows: 30% 80%;
    grid-template-columns: 20% 60% 20%;
}
header {
    grid-row: 1;
    grid-column: 1/4;
}
.piano {
    position:relative;
    height:200px;
    margin: 20px;
}

.white-key-set {
    position:absolute;
    left:0px;
    display: flex;
    margin-left: 5px;
}

.white-key-set .keyboard {
    display: flex;
    width:40px;
    height:200px;
    border:solid 1px black;
    background-color: #eee;
}

.black-key-set {
    display: flex;
    position:absolute;
    top: 1px;
    left: 25px;
    margin-left: 5px;
}

.black-key-set .keyboard {
    display: flex;
    width:30px;
    height:120px;
    border:solid 1px white;
    margin-right: 10px;
    background-color: #000;
}
main {
    grid-row: 2;
    grid-column: 2/3;
    text-align: center;
}
form {
    font-size: 30px;
    font-family: 'Chalkduster',sans-serif;
}
input {
    font-size: 16px;
}
select {
    padding: 10px;
}
form span {
    font-size: 20px;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Brush Script MT',sans-serif;
}
/* .btn {
    margin-top: 70px;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
    background: silver;
    border: 1px solid black;
} */

.btn a {
    color: black;
}
.btn {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color: #ff7c5c;
    transition: .4s;
    font-size: 20px;
    font-family: 'HanziPen SC',sans-serif;
    background-color: rgba(161, 211, 61, 0.699);
  }
  
  .btn:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    background:#ff7c5c;
  }
  
  .btn:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top:0;
    left: 100%;
    border-radius: 3px;
    background:#ff7c5c;
  }
  
  .btn:hover:before, .btn:hover:after {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }